body{
    background-color: #9999;
    display: flex;
    
    text-align: center;
    justify-content: center;
}
#button {
    background-color: rgba(6, 50, 14, 0.913);
    margin: 1rem;
    padding: 1rem;
    border: none;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.result {
    width: 500px;
    height: 500px;
    margin-top: 1rem;
    background-color: aqua;
}

.title {
    color: rgb(26, 77, 30);
}
