body{
    color: #333;
    font-family: sans-serif;
}
input{
    display: block;
    width: 90%;
    padding: 9px;
    margin: 9px auto;
    box-sizing: border-box;
    border: none;
    border-top: 2px solid #48e;
    background: transparent;
    outline: none !important;
    transition: background 0.3s;
    width: 100%;
    color:#fff
}
input::placeholder{
    color: #48f;
    transition: color 0.6s;
}
input:hover{
    background: #26a;
}
input:hover::placeholder{
    color: #fff;
}
/* input:focus{
    color: #fff
} */
input[type="submit"]{
    width: 50%;
    margin-top: 18px;
    padding: 12px;
    background: #26a;
    color: #fff;
    
}
input[type="submit"]:hover{
    background: #048;
}

form{
    width: 86%;
    margin: auto;
    background-color: #000;
    padding: 30px;
}
h2{
    color:#fff;
    margin-bottom: 36;
}
.green{
    color: #9c9;
}
.red{
    color: #c99;
}
    
