body{
    color: #222;
    font-family: sans-serif;
}

.reloj{
    background: linear-gradient(#111, #666);
    border: 2px solid #000;
    display: inline-flex;
    border-radius: 5px;    
}

.reloj div {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-family: monospace;
    
}
